.git
.gitignore
.DS_Store
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
reports
debug.log
first_run_debug.log
recent_debug.log
*.local
.env
.env.*
packages/*/dist
